{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row d-flex justify-content-between align-items-center py-3">
        <div class="col-lg-9">
            <div class="d-flex justify-content-sm-between align-items-sm-center mb-3 mb-lg-0 flex-sm-row flex-column justify-content-start align-items-start">
                <p class="small text-muted mb-2 mb-md-0">центр непрерывного повышения профессионального мастерства педагогических работников</p>
                <div class="socials d-flex">
                    <a href="#" target="_blank" title="" style="color: #4680C2"><i class="fab fa-vk"></i></a>
                    <a href="#" target="_blank" title="" style="color: #C13584"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank" title="" style="color: #FF0000"><i class="fab fa-youtube"></i></a>
                    <a href="#" target="_blank" title="" style="color: #3B5998"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a class="btn btn-dark btn-block" href="#" role="button">версия для слабовидящих</a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xl-9">
            <div class="news-item-main d-flex justify-content-start align-items-center mb-4 mb-xl-0" style="background-image: url(images/n_lg.jpg)">
                <div class="news-item-main-container px-5">
                    <div class="d-block mb-3">
                        <a href="article.html" title="" class="m-0 h2 stretched-link">Первый раз в первый класс - Итоги лекции Антона Павлова для преподавателей младших классов</a>
                    </div>
                    <span class="small p-2">cегодня 18:21</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="side-feed bg-white px-4 py-3">
                <h2 class="h4 mt-0 mb-3">главное</h2>

                <div class="side-feed-item pb-3 mb-3">
                    <a href="article.html" title="" class="text-secondary font-2 d-block">Сначала уроки, потом компьютер: почему запрещать игры детям — большая ошибка</a>
                    <span class="d-block">сегодня 17:01</span>
                </div>

                <div class="side-feed-item pb-3 mb-3">
                    <a href="article.html" title="" class="text-secondary font-2 d-block">Как интернет меняет образование? Отвечает CEO сервиса Coursera</a>
                    <span class="d-block">сегодня 10:34</span>
                </div>

                <div class="side-feed-item pb-3 mb-3">
                    <a href="article.html" title="" class="text-secondary font-2 d-block">Нейроученый — о том, как старые теории и новые технологии помогают учить детей математике</a>
                    <span class="d-block">вчера 19:17</span>
                </div>

                <div class="side-feed-more d-flex justify-content-center align-items-end pb-3">
                    <a href="newsfeed.html" title="" class="font-2 font-weight-bold">все новости</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card mb-4 text-center">
                <img src="images/n1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="article.html" title="" class="h5 stretched-link text-secondary">Астрономия, эсперанто и логика: эволюция школьной программы за последние 100 лет</a>
                    <div class="divider mx-auto mt-3"></div>
                </div>
                <div class="card-footer small">
                    сегодня 4:20
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card mb-4 text-center">
                <img src="images/n2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="article.html" title="" class="h5 stretched-link text-secondary">Сексизм, лицемерие, нелюбовь: что не так с преподаванием литературы в школе</a>
                    <div class="divider mx-auto mt-3"></div>
                </div>
                <div class="card-footer small">
                    вчера 15:43
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card mb-4 text-center">
                <!--                        <img src="images/n3.jpg" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <a href="article.html" title="" class="h5 stretched-link text-secondary">Как наука о больших данных меняет образование и делает обучение увлекательным</a>
                    <div class="divider mx-auto mt-3"></div>
                </div>
                <div class="card-footer small">
                    21.09.19 19:54
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card mb-4 text-center">
                <img src="images/n4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="article.html" title="" class="h5 stretched-link text-secondary">Двойка за год: родители рассказывают о том, как прошел учебный год их детей</a>
                    <div class="divider mx-auto mt-3"></div>
                </div>
                <div class="card-footer small">
                    21.09.19 15:38
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mb-4">
        <a href="#" title="" class="btn btn-secondary font-2">больше новостей</a>
    </div>

    <div class="img-content d-flex justify-content-start align-items-center mb-4 p-3 p-sm-5">
        <div class="w-50">
            <h2 class="bg-primary font-weight-light text-white px-3 py-2 d-inline-block mt-0 mb-2">Наши цели:</h2>
            <p class="pl-5 pr-3 py-3 mb-2 font-2 text-white bg-secondary"><i class="fas fa-check ml-n4 mr-2 text-primary"></i>Организация деятельности по восполнению профессиональных дефицитов педагогов через трансляцию новых образовательных технологий, передовых практик и иных педагогических активностей; построение уникальных образовательных траекторий.</p>

            <p class="pl-5 pr-3 py-3 mb-2 font-2 text-white bg-secondary"><i class="fas fa-check ml-n4 mr-2 text-primary"></i>Проведение конкурсов профессионального мастерства.</p>

            <p class="pl-5 pr-3 py-3 mb-2 font-2 text-white bg-secondary"><i class="fas fa-check ml-n4 mr-2 text-primary"></i>Привлечение молодых специалистов, организация стажировок будущих педагогов в инновационных школах; развитие наставничества.</p>

            <p class="pl-5 pr-3 py-3 mb-2 font-2 text-white bg-secondary"><i class="fas fa-check ml-n4 mr-2 text-primary"></i>Работа профессиональных сообществ по видам деятельности (учителя, методисты, руководители).</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center bg-primary p-4 mb-4 match-height">
                <img src="images/50.svg" alt="..." class="mr-sm-3 mr-0 mb-3 mb-sm-0" width="128px">
                <div>
                    <h3 class="h5 mt-0 mb-1 text-white">50% педагогических работников</h3>
                    <p class="m-0 small text-light lh-1">системы общего, дополнительного образования детей и профессионального образования повысят уровень профессионального мастерства в форматах непрерывного образования</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center bg-secondary p-4 mb-4 match-height">
                <img src="images/70.svg" alt="..." class="mr-sm-3 mr-0 mb-3 mb-sm-0" width="128px">
                <div>
                    <h3 class="h5 mt-0 mb-1 text-white">70% учителей в возрасте до 35 лет</h3>
                    <p class="m-0 small text-light lh-1">будут вовлечены в различные формы поддержки и сопровождения в первые три года работы</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <article class="bg-white pb-sm-5 px-sm-5 px-4 pb-3 pt-1 mb-4 mb-lg-0">
                <h1 class="h3 mt-3 mt-sm-5">«Учитель будущего» - это:</h1>
                <p class="font-2 mb-3">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>

                <p class="font-2 mb-3">Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами.</p>

                <p class="font-2 mb-0">«Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.</p>
            </article>
        </div>

        <div class="col-lg-3">
            <a href="#" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">Министерство образования и науки Российской Федерации</a>
            <a href="#" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">Федеральный портал «Русское Образование»</a>
            <a href="#" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">Федеральный центр информационно-образовательных ресурсов</a>
            <a href="#" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">Адмнистрация Республики Адыгея</a>
            <a href="#" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">Адыгейский республиканский институт повышения квалификации</a>
        </div>
    </div>
</main>
{% endblock content%}