{% extends 'base.html' %}
{% load news_extras %}

{% block title %}
    <title>{{ index_page.seo_title }}</title>
    <meta name="description" content="{{ index_page.seo_desc }}">
    <meta name="keywords" content="{{ index_page.seo_kwrds }}">
{% endblock title %}

{% block content %}
<main class="container">
    <div class="row d-flex justify-content-between align-items-center py-3">
        <div class="col-lg-9">
            <div class="d-flex justify-content-sm-between align-items-sm-center mb-3 mb-lg-0 flex-sm-row flex-column justify-content-start align-items-start">
                <p class="small text-muted mb-2 mb-md-0">{{ index_page.body1|striptags }}</p>
                <div class="socials d-flex">
                    {% for item in socials %}
                    <a href="{{ item.link }}" target="_blank" title="" style="color: {{ item.color }}"><i class="fab fa-{{ item.short_name }}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <a class="btn btn-dark btn-block" href="{% url 'change_view' %}" role="button">версия для слабовидящих</a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xl-9">
            <div class="news-item-main d-flex justify-content-start align-items-center mb-4 mb-xl-0" style="background-image: url('{{ main_news.image_big.url }}')">
                <div class="news-item-main-container px-5">
                    <div class="d-block mb-3">
                        <a href="{{ main_news.get_absolute_url }}" title="" class="m-0 h2 stretched-link">{{ main_news.title }}</a>
                    </div>
                    <span class="small p-2">{{ main_news.created_date|custom_date }}</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="side-feed bg-white px-4 py-3">
                <h2 class="h4 mt-0 mb-3">главное</h2>
                {% for item in main_menu_news %}
                <div class="side-feed-item pb-3 mb-3">
                    <a href="{{ item.get_absolute_url }}" title="" class="text-secondary font-2 d-block">{{ item.title }}</a>
                    <span class="d-block">{{ item.created_date|custom_date }}</span>
                </div>
                {% endfor %}
                <div class="side-feed-more d-flex justify-content-center align-items-end pb-3">
                    <a href="{% url 'news' %}" title="" class="font-2 font-weight-bold">все новости</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="news">
        {% include 'news/__more_news.html' %}
    </div>

    <div class="text-center mb-4">
        <form id="more_news" action="{% url 'more_news' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary font-2">больше новостей</button>
        </form>
    </div>

    <div class="img-content d-flex justify-content-start align-items-center mb-4 p-3 p-sm-5">
        <div class="w-50">
            <h2 class="bg-primary font-weight-light text-white px-3 py-2 d-inline-block mt-0 mb-2">Наши цели:</h2>
            {% for item in goals %}
            <p class="pl-5 pr-3 py-3 mb-2 font-2 text-white bg-secondary"><i class="fas fa-check ml-n4 mr-2 text-primary"></i>{{ item.text }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {% for item in proses %}
        <div class="col-lg-6">
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center bg-{{ item.bg_color }} p-4 mb-4 match-height">
                <img src="{{ item.image.url }}" alt="..." class="mr-sm-3 mr-0 mb-3 mb-sm-0" width="128px">
                <div>
                    <h3 class="h5 mt-0 mb-1 text-white">{{ item.title }}</h3>
                    <p class="m-0 small text-light lh-1">{{ item.text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-9">
            <article class="bg-white pb-sm-5 px-sm-5 px-4 pb-3 pt-1 mb-4 mb-lg-0">
                {{ index_page.body2|safe }}
            </article>
        </div>

        <div class="col-lg-3">
            {% for item in external_links %}
            <a href="{{ item.url }}" title="" target="_blank" class="partner d-block text-secondary font-2 small font-weight-bold py-3 pl-4 pr-5 mb-2 bg-white match-height">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content%}