{% extends 'base.html' %}
{% load news_extras %}

{% block title %}
    <title>{{ news_page.seo_title }}</title>
    <meta name="description" content="{{ news_page.seo_desc }}">
    <meta name="keywords" content="{{ news_page.seo_kwrds }}">
{% endblock title %}

{% block content %}
<main role="main">
    <div class="container">

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3 mb-md-0">
            <ol class="breadcrumb small">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                {% with page=news_page.parent %}
                    <li class="breadcrumb-item"><a href="{% include '__breadcrumb.html' %}">{{ page.title }}</a></li>
                {% endwith %}
                <li class="breadcrumb-item active">Новости</li>
            </ol>


            <div class="ya-share2 mb-3 ml-md-auto my-auto text-nowrap" data-services="vkontakte,facebook,telegram,twitter,whatsapp,skype,odnoklassniki" data-limit="3"></div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="bg-white py-2 d-none d-lg-block">
                    <ul class="list-unstyled side-menu m-0">
                        {% for page in news_page.parent.subpages %}
                            {% include '__left_menu.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <h1 class="mt-0">Новости</h1>
                {% for item in page_object.object_list %}
                <div class="news-feed-news-item bg-white d-flex flex-column flex-md-row justify-content-start align-items-stretch mb-4">
                    <div class="mr-md-4 nfni-img" style="background-image: url('{{ item.image_small.url }}')"></div>
                    <div class="py-4 pr-4 pl-4 pl-md-0 d-flex flex-column">
                        <a href="{{ item.get_absolute_url }}" title="" class="h4 m-0 text-secondary stretched-link mb-md-auto mb-3 d-block">{{ item.title }}</a>
                        <span class="d-block font-weight-bold small">{{ item.created_date|custom_date }}</span>
                    </div>
                </div>
                {% endfor %}

                <div class="d-flex justify-content-center">
                    {% include '__pagination.html' %}
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}