{% load static %}

<footer class="footer bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                <h2 class="h5 mt-0">Контакты</h2>
                <p class="font-2 mb-1">{{ phone.phone }}</p>
                <p class="font-2 mb-1">{{ address.address }}</p>
                <p><a href="mailto:{{ email.email }}" class="text-secondary">{{ email.email }}</a></p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 mb-4 text-md-right text-lg-left">
                <h2 class="h5 mt-0">Сведения</h2>
                {% for page in pages %}
                    {% if page.parent and page.in_footer %}
                    <a href="
                    {% if page.action == 'pages' %}
                        /pages/{{ page.slug }}/
                    {% elif page.action == 'news' %}
                        /news/
                    {% elif page.action == 'albums' %}
                        /gallery/
                    {% elif page.action == 'documents' %}
                        {{ main_doc_category.get_absolute_url }}
                    {% elif page.action == 'employees' %}
                        /leadership/
                    {% endif %}
                    " class="d-block font-2 mb-1 text-secondary">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-4 text-lg-right text-sm-center mb-4 mb-sm-5">
                <div class="socials socials-big d-block pb-4">
                    {% for item in socials %}
                    <a href="{{ item.link }}" target="_blank" title="" style="color: {{ item.color }}; border-color: {{ item.color }};"><i class="fab fa-{{ item.short_name }}"></i></a>
                    {% endfor %}
                </div>

                <a class="btn btn-dark" href="{% url 'change_view' %}" role="button">версия для слабовидящих</a>
            </div>
        </div>

        <div class="text-sm-center text-muted font-2 mb-3 pt-4 pt-sm-5 border-top">Федеральный проект «Учитель будущего» © 2019</div>
        <div class="text-sm-center">
            <div class="position-relative d-inline-flex justify-content-center align-items-center devlogo">
                <img src="{% static 'images/devlogo.svg' %}" alt="Webline Masters">
                <div class="ml-2 d-flex align-items-start flex-column">
                    <span>Webline Masters</span>
                    <a href="http://wlms.info" target="_blank" class="stretched-link text-muted" title="Webline Masters">создание и продвижение сайтов</a>
                </div>
            </div>
        </div>
    </div>
</footer>