{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
    <div class="container px-sm-3 position-relative">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo-wide.svg' %}" alt="" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i><i class="fas fa-times"></i></span>
        </button>

        <div class="collapse navbar-collapse font-2">
            <ul class="navbar-nav mr-auto">
                {% for page in pages %}
                    {% if not page.parent %}
                        {% if page.subpagescount > 0 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="
                                {% if page.firstchild.action == 'pages' %}
                                    /pages/{{ page.firstchild.slug }}/
                                {% elif page.firstchild.action == 'news' %}
                                    /news/
                                {% elif page.firstchild.action == 'albums' %}
                                    /gallery/
                                {% elif page.firstchild.action == 'documents' %}
                                    {{ main_doc_category.get_absolute_url }}
                                {% elif page.firstchild.action == 'employees' %}
                                    /leadership/
                                {% endif %}
                            " role="button" aria-haspopup="true" aria-expanded="false">
                                {{ page.title }}
                            </a>
                            <div class="dropdown-menu">
                                {% for item in page.subpages %}
                                    <a class="dropdown-item" href="
                                        {% if item.action == 'pages' %}
                                            /pages/{{ item.slug }}/
                                        {% elif item.action == 'news' %}
                                            /news/
                                        {% elif item.action == 'albums' %}
                                            /gallery/
                                        {% elif item.action == 'documents' %}
                                            {{ main_doc_category.get_absolute_url }}
                                        {% elif item.action == 'employees' %}
                                            /leadership/
                                        {% endif %}
                                    ">{{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            {% if page.action == 'contacts' %}
                            <a class="nav-link" href="/contacts/">{{ page.title }}</a>
                            {% else %}
                            <a class="nav-link" href="/pages/{{ page.slug }}/">{{ page.title }}</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <form class="search">
            <div class="search-wrapper">
                <input type="text" name="" placeholder="найти..." class="search-field">
                <button type="submit" class="fas fa-search search-icon"></button>
            </div>
        </form>

        <div class="d-lg-none offcanvas-collapse navbar-expand-lg">
            <div class="container px-sm-4 px-0">
                <ul class="list-unstyled">
                    <li class="offcanvas-nav-item">
                        <a class="offcanvas-nav-link font-2" href="content.html">о проекте</a>
                    </li>
                    <li class="offcanvas-nav-item">
                        <a class="offcanvas-nav-link font-2" href="content.html">участникам</a>
                    </li>
                    <li class="offcanvas-nav-item">
                        <a class="offcanvas-nav-link font-2" href="newsfeed.html">события</a>
                    </li>
                    <li class="offcanvas-nav-item">
                        <a class="offcanvas-nav-link font-2" href="contacts.html">контакты</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>