{% extends 'lo/base.html' %}

{% block title %}
    <title>{{ emp_page.seo_title }}</title>
    <meta name="description" content="{{ emp_page.seo_desc }}">
    <meta name="keywords" content="{{ emp_page.seo_kwrds }}">
{% endblock title %}

{% block subnav %}
{% for page in emp_page.parent.subpages %}
    {% include 'lo/__left_menu.html' %}
{% endfor %}
{% endblock %}

{% block content %}
<div class="page">
    <h1>Руководство</h1><br>
    <div class="hentry photo-flex">
        <div style="text-align: center;">
            <img src="{{ leader.image_thumbnail.url }}">
            <h3>{{ leader.name }}</h3>
            <p>{{ leader.role }}</p>
            <p>Приёмная: <b>{{ leader.phone }}</b></p>
            <p><a href="mailto:{{ leader.email }}">{{ leader.email }}</a></p>
        </div>
        {% for item in employees %}
        <div style="text-align: center;">
            <img src="{{ item.image_thumbnail.url }}">
            <h3>{{ item.name }}</h3>
            <p>{{ item.role }}</p>
            <p>Приёмная: <b>{{ item.phone }}</b></p>
            <p><a href="mailto:{{ item.email }}">{{ item.email }}</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}