{% extends 'base.html' %}

{% block title %}
    <title>{{ albums_page.seo_title }}</title>
    <meta name="description" content="{{ albums_page.seo_desc }}">
    <meta name="keywords" content="{{ albums_page.seo_kwrds }}">
{% endblock title %}

{% block content %}
<main role="main">
    <div class="container">

       <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3 mb-md-0">
            <ol class="breadcrumb small">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                {% with page=albums_page.parent %}
                    <li class="breadcrumb-item"><a href="{% include '__breadcrumb.html' %}">{{ page.title }}</a></li>
                {% endwith %}
                <li class="breadcrumb-item active">Фотоотчёты</li>
            </ol>


            <div class="ya-share2 mb-3 ml-md-auto my-auto text-nowrap" data-services="vkontakte,facebook,telegram,twitter,whatsapp,skype,odnoklassniki" data-limit="3"></div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="bg-white py-2 d-none d-lg-block">
                    <ul class="list-unstyled side-menu m-0">
                        {% for page in albums_page.parent.subpages %}
                            {% include '__left_menu.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <h1 class="mt-0">Фотоотчёты</h1>
                <div class="row">
                    {% for album in page_object.object_list %}
                    <div class="col-md-6">
                        <div class="gallery-item mb-4">
                            <img src="{{ album.image_thumbnail.url }}" class="w-100 mb-2">
                            <div class="px-2">
                                <a href="{{ album.get_absolute_url }}" title="" class="stretched-link font-2 text-white bg-primary d-inline py-1">{{ album.title }}</a>
                                <div class="clearfix mb-1"></div>
                                <span class="bg-secondary p-1 px-2 small text-white font-weight-bold ml-n2">{{ album.created_date|date:"d.m.Y" }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="d-flex justify-content-center mt-3">
                    {% include '__pagination.html' %}
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}