{% extends 'base.html' %}

{% block title %}
    <title>{{ album.seo_title }}</title>
    <meta name="description" content="{{ album.seo_desc }}">
    <meta name="keywords" content="{{ album.seo_kwrds }}">
{% endblock title %}

{% block content %}
<main role="main">
    <div class="container">

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3 mb-md-0">
            <ol class="breadcrumb small">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                {% with page=albums_page.parent %}
                    <li class="breadcrumb-item"><a href="{% include '__breadcrumb.html' %}">{{ page.title }}</a></li>
                {% endwith %}
                <li class="breadcrumb-item"><a href="{% url 'albums' %}">Фотоотчёты</a></li>
                <li class="breadcrumb-item active">{{ album.title }}</li>
            </ol>


            <div class="ya-share2 mb-3 ml-md-auto my-auto text-nowrap" data-services="vkontakte,facebook,telegram,twitter,whatsapp,skype,odnoklassniki" data-limit="3"></div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="bg-white py-2 d-none d-lg-block">
                    <ul class="list-unstyled side-menu m-0">
                        {% for page in albums_page.parent.subpages %}
                            {% include '__left_menu.html' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <h1 class="mt-0">{{ album.title }}</h1>
                <p class="font-2 text-muted">{{ album.description }}</p>
                <div class="row photo-swipe" itemscope itemtype="http://schema.org/ImageGallery">
                    {% for item in album.images.all %}
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-6 col-lg-4">
                        <a href="{{ item.image_big.url }}" itemprop="contentUrl" data-size="1920x1080">
                            <img src="{{ item.image_small.url }}" itemprop="thumbnail" alt="...">
                        </a>
                        <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                    </figure>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock content %}